* {
    margin: 0px;
    padding: 0px;
}

#logo-img {
    display: block;
    margin: 0px auto;
    /* position: relative; */
    /* z-index: 999; */
    /* bottom: 0; */
    /* left: 50%; */
    /* top: 5px; */
    /* margin-top: -20px; */
    /* opacity: 0.2; */
}

#top {
    width: 100%;
    height: auto;
    padding: 25px;
    padding-bottom: 40px;
    background-color: #EBEBEB;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.todo {
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
}

#add,
#edit {
    font-size: 25px;
    color: #00ACDA;
    border-color: #00ACDA;
}

#dltall {
    font-size: 25px;
}

#add:hover,
#edit:hover {
    color: #EBEBEB;
    border-color: #00ACDA;
    background-color: #00ACDA;
    text-decoration: none;
}

#add:focus,
#edit:focus {
    text-decoration: none;
}

#add:focus,
#add.focus,
#edit:focus,
#edit.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 172, 218, 0.25);
}

.btn#edit,
.btn#dlt {
    font-size: 15px;
}

.btn-outline-primary:active {
    color: #00ACDA;
    border-color: #00ACDA;
    background-color: #00ACDA !important;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 172, 218, 0.5);
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 172, 218, 0.5);
}

li {
    list-style-type: none;
    background-color: #EBEBEB;
    border-radius: 10px;
}

.task {
    line-height: 60px;
    font-size: 20px;
    word-wrap: break-word;
}